*{
    margin: 0;
    background-color: black;
}
.top_text{
    color: #0dff00 ;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 30px;
    border-color: #26fc05;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border-radius: 5px;
    width: 300px;
    height: auto;
    border-style: solid;
    border-color: #0dff00;
    display: inline-block;
}
.my_information{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.main_image{
    display: flex;
    justify-content: center;
}
.my_image{
    width: 150px;
    height: 150px;
    border-color: #0dff00;
    border-style: solid;
    border-radius: 50%; 
    display: flex;
    align-items: center;
}
.name{
    color: #0dff00;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    display: inline-block;
}
.name_end{
    color: #ffffff;
    display: inline-block;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.old{
color: #0dff00;
margin-top: 10px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 10px;
display: inline-block;
}
.old_end{
color: #ffffff;
display: inline-block;
margin-left: 5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prog{
    color: #0dff00;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    display: inline-block;
}
.prog_end{
    color: #ffffff;
    display: inline-block;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9px;
}
.Telegram{
    color: #0dff00;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.Telegram_end{
    color: #ffffff;
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}